* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



html {
    scroll-behavior: smooth;
}

.inicio {
    width: 100%;
    margin: 0;
    padding: 0;
}

.inicio nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #3b3a39;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 1000;

}

.logo {
    position: relative;
    right: 8%;
}

.inicio nav .logo img {
    width: 50px;
    cursor: pointer;
    margin: 7px 0;

}

.inicio nav ul li {
    display: inline-block;
    margin-left: 30px;

}

.inicio nav ul li a {
    text-decoration: none;
    color: rgb(244, 243, 243);
    text-transform: uppercase;
    line-height: 15px;
    transition: 0.2s linear;

}

.inicio ul li a:hover {
    color: #bed50d;
}

.inicio nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #bed50d;
    display: block;
    transition: 0.2s linear;
}

.inicio nav ul li a:hover::after {
    width: 100%;
}


img {
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 90%;
    filter: invert();
}


.baner {
    width: 100%;
    height: 100vh;

    background: url(imagens/batata.jpg ) no-repeat center;
    background-size: cover;
    text-align: center;


}

.baner h1 {
    font-size: 70px;
    color: rgb(239, 239, 239);
    text-align: center;
    margin-top: 15%;
    text-transform: uppercase;
    text-shadow: black 2px 2px 10px;

}

.baner a:hover {
    background: rgb(232, 232, 232);
    color: black;
}

.baner a {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
    background: rgb(66, 66, 66);
    border-radius: 15px;
    text-decoration: none;
    color: aliceblue;
    transition: .4s;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info {
    flex: 1;
}

.contact-info h3 {
    font-size: 18px;
}

.social-media {
    flex: 1;
    text-align: right;
    font-size: 200%;
}

.social-media h3 {
    font-size: 20px;
}

.social-media a {
    text-decoration: none;
    margin-left: 10px;
}

#a1 {
    color: rgb(64, 64, 254);
    transition: .3s;
    transform: rotateX(0)scale(0.9);
}

#a2 {
    background-image: linear-gradient(red, rgb(208, 225, 27));
    border-radius: 8px;
    transition: .3s;
    transform: rotateX(0)scale(0.9);
}

#a3 {
    color: white;
    border-radius: 8px;
    transition: .4s;
    transform: rotatex(0)scale(0.9);

}

#a1:hover,
#a1::after {
    transform: translateX(10px) scale(1.2);
}

#a2:hover,
#a2::after {
    transform: translateX(10px) scale(1.2);
}

#a3:hover,
#a3::after {
    transform: translateX(10px) scale(1.2);
}


.copyright {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* estilizando o icone */

.icone i {
    filter: invert();
    font-size: 30px;
    display: none;
}

.modal {
    position: absolute;
    background-color: rgba(87, 87, 87, 0.418);
    width: 300px;
    height: 0 auto;
    top: 117px;
    left: 480px;
    margin: 0;
    display: none;
    animation: movetop 0.4s ease;
    animation-name: movetop;
}


@keyframes movetop {
    from {
        top: -100%;
    }

    to {
        top: 100px;
    }
}

.op0 {
    background-color: #ffffff5b;
    width: 300px;
    text-align: center;
    border-radius: 0px 0px 0px 5px;
    padding: 10px;
    z-index: 100;

}

.op1 {
    border: 1px solid;
    border: none;
    background-color: #333;
    margin: 20px;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    color: #f7f7f7;
    transition: .4s;

}

.op1:hover {
    background-color: #f7f7f7;
    color: #252525;
    transition: .4s;
}


.op0 a {
    text-decoration: none;

}